body {
    background: linear-gradient(to right, #a7a7a6, #fff);
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow-x: hidden; /* Oculta el desbordamiento horizontal */
    box-sizing: border-box; /* Asegura que padding y border se incluyan en el ancho y alto */
    font-family: "Bebas Neue", sans-serif;
}

.menu {
    background-color: #000;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo_blanco_container {
    width: 100px;
    position: relative;
}

.logo_blanco {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    margin: auto;
}

.lista {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
}

.lista li {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.lista li a {
    text-decoration: none;
    text-align: center;
    line-height: 1.4;
    color: white;
    display: block;
    font-size: 14px;
}

.lista li a br {
    display: none; /* Ocultar el salto de línea en pantallas grandes */
}

.lista li a:hover {
    text-decoration: underline;
}

/* Para pantallas pequeñas */
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        height: auto;
    }

    .lista {
        flex-direction: column;
    }

    .lista li {
        margin: 10px 0;
    }

    .lista li a br {
        display: inline; /* Mostrar el salto de línea en pantallas pequeñas */
    }
}

#Titulo {
    margin-top: 20px;
}

.container {
    background-color: #f5f5f5; /* Fondo blanco para el contenedor principal */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reporte, .resultados {
    margin-top: 20px;
    background-color: #ffffff; /* Fondo blanco para las secciones */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reporte h2, .resultados h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.table {
    margin-top: 10px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

#logoutButton img {
    width: 24px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la relación de aspecto */
}

#logoutButton {
    border: none; /* Elimina el borde del botón */
    background: transparent; /* Hace que el botón sea transparente */
    padding: 0; /* Elimina el relleno */
}

/* Animación */
.tracking-in-expand {
    animation: tracking-in-expand 1s linear both;
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.2em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

/* Estilos generales del pie de página */
.footer {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 40px 0;
    font-family: Arial, sans-serif;
    height: fit-content;
}

.containerFooter {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
 
}

.logo2 {
    margin-bottom: 30px;
}

.logo-img2 {
    width: 318px;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.links-column {
    flex: 1;
    padding: 0 20px;
}

.links-column h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.links-column ul {
    list-style-type: none;
    padding: 0;
}

.links-column ul li {
    margin-bottom: 10px;
}

.links-column ul li a {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 14px;
}

.links-column ul li a:hover {
    text-decoration: underline;
}

.social-media {
    display: flex
    ;
        justify-content: center;
        align-items: end;
        margin-top: 40px;
}

.social-icon {
    text-decoration: none;
    margin: 0 10px;
    color: #f0f0f0;
    font-size: 1px;
}

.social-icon:hover {
    color: #f3dc44;
}

.divider {
    border: 1px solid #444;
    margin: 40px 0;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-link {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 14px;
    margin: 0 10px;
}

.footer-link:hover {
    text-decoration: underline;
}
/* Estilos para el botón flotante */
.chatbot-button {
    position: fixed; /* Fija el botón en la pantalla */
    bottom: 20px; /* Distancia desde el borde inferior */
    right: 20px; /* Distancia desde el borde derecho */
    background-color: #0088cc; /* Color de fondo de Telegram */
    color: white; /* Color del icono */
    padding: 15px; /* Espaciado alrededor del icono */
    border-radius: 50%; /* Hace el botón redondo */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para el botón */
    font-size: 70px; /* Tamaño del icono */
    display: flex; /* Centra el icono dentro del botón */
    justify-content: center; /* Centra el icono en el botón */
    align-items: center; /* Centra el icono en el botón */
    z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
    transition: background-color 0.3s ease; /* Animación suave en el cambio de color */
}

.chatbot-button:hover {
    background-color: #007bb5; /* Color de fondo al pasar el ratón */
}

.chatbot-button i {
    font-size: 30px; /* Tamaño del icono de Telegram */
}
